* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 2rem 6rem;
    font-size: 3rem;
    border: transparent;
    color:rgb(6, 29, 44);
    position: relative;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    background-color: #ccc;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: rgb(204, 52, 14);
    color:rgb(243, 192, 192);

}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background-color: rgb(247, 247, 247);
    z-index: -1;
    transform: translateX(-100%) rotate(45deg);
    transition: all .3s ease-in-out;

}

button:hover::before {
    transform: translateX(100%) rotate(45deg);

}